.web-head, .mobile-head {
    grid-area: nav;
}

.bg-pic {
    grid-area: pic;
}

.about {
    grid-area: about;
}

.bg-pic-2 {
    grid-area: pic-2;
}

.recent {
    grid-area: recent;
}

.contact {
    grid-area: contact;
}

.top {
    grid-area: top;
}

.social {
    grid-area: social;
}

.main-footer {
    grid-area: footer;
}

.wrapper {
    display: grid;
    grid-template-areas: 
    "nav        nav"
    "pic        pic"
    "about      about"
    "pic-2      pic-2"
    "recent     recent"
    "contact    contact"
    "top        top"
    "social     footer";
}

