body {
    font-family: 'Fira Sans', sans-serif;
    font-weight: lighter;
    margin: 0;
}

.container-fluid {
    max-width: 1350px;
    width: 100%;
}

.col {
    margin: 0;
    padding: 0;
}

.main-home {
    margin-top: 50px;
    margin-bottom: 30px;
}

img {
    width: 100%;
    height: auto;
}

.header {
    margin: 0;
    padding: 0;
    border-top: 7px solid #A1D2E5;
    position: fixed;
    width: 100%;
}

h1, #name, #name:hover {
    color: #A1D2E5;
    font-size: 3vw;
    font-weight: 500;
    text-align: center;
    text-transform: lowercase;
    text-decoration: none;
    letter-spacing: -.5px;
}

h2 {
    color: #707070;
    font-size: 1.5vw;
    font-weight: lighter;
    text-align: center;
    text-transform: lowercase;
    letter-spacing: 1px;
}


/* Styling Vertical Navbar */


.vt-nav {
    border-left: 1px solid #707070;
    padding-left: 15px;
}

.nav-item {
    display: flex;
    font-size: 1vw;
    letter-spacing: 1px;
}

.navbar {
    padding: 0;
}


.nav-link {
    color: #707070;
    text-transform: uppercase;
    padding: 5px;
    margin-bottom: 10%;
}

    .nav-link:hover {
        color: #A1D2E5;
    }


/* Styling Horizontal Navbar */


.hz-nav {
    margin: 0;
    padding: 0;
    height: 13px;
}

    .hz-nav ul {
        display: flex;
        justify-content: center;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: rgba(232,232,232,0.7);
    }

    .hz-nav li {
        display: inline-flex;
        margin: 0;
        padding: 0;
        border-right: 1px solid rgb(60,60,60);
    }

        .hz-nav li:last-child {
            border-right: none;
        }

        .hz-nav li a, .hz-nav li a:hover, .hz-nav li a:active {
            color: rgb(40,40,40);
            padding: 10px;
            font-size: 12px;
            font-weight: lighter;
            text-align: center;
            letter-spacing: 1px;
            text-transform: lowercase;
            text-decoration: none;
        }

            .hz-nav li a:hover, .hz-nav li a:active {
                background-color: rgba(232,232,232,0.9)
            }


/* Styling for About page */


.body-about {
    height: 600px;
    background-color: rgb(246,248,249);
    background-image: url("/images/desk-planner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.main-about {
    align-items: center;
    margin-top: 440px;
}

.col-about {
    padding: 0 10px;
}

.p-about, .p-folio {
    font-size: 12px;
}

.p-about {
    margin-bottom: 0;
}

#headshot {
    border-radius: 200px;
}


/* Styling for Portfolio page */


.body-folio {
    height: 600px;
    background-color: rgb(255,255,255);
    background-image: url("/images/imac.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.main-folio {
    margin-top: 150px;
}

.p-folio {
    background-color: rgba(255,255,255,0.9);
}

.projects {
    width: 75%;
    height: auto;
    padding: 5px;
    margin: 5px;
}

.tail {
    color: white;
    font-size: 10px;
    font-family: 'Fira Sans', sans-serif;
    letter-spacing: 0.5px;
    background-color: rgba(40, 40, 40, 0.7);
    border-radius: 8px;
    padding: 6px;
    position: absolute;
    float: left;
    overflow: hidden;
}


/* Styling for Contact page */


.body-contact {
    height: 600px;
    background-color: rgb(255,255,255);
    background-image: url("/images/notepad.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
}


.main-contact {
    margin-top: 275px;
}

.social a, .social a:hover, .social a:active {
    color: black;
    text-decoration: none;
}


/* Carousel Styling */


.slides {
    display: flex;
    padding: 0;
    width: 80%;
    height: 276px;
    margin: 0 auto;
    position: relative;
}

    .slides input {
        display: none;
    }

.slide-container {
    display: block;
}

.slide {
    top: 0;
    opacity: 0.4;
    width: 100%;
    height: 276px;
    position: absolute;
    transform: scale(0);
    transition: all .7s ease-in-out;
}

.slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.carousel i {
    border: solid #FFFFFF;
    border-width: 0 8px 8px 0;
    display: inline-block;
    padding: 7px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.nav label {
        display: none;
        position: absolute;
        opacity: 0.5;
        cursor: pointer;
        color: #FFFFFF;
        font-weight: bold;
        font-size: 3.5rem;
        text-align: center;
        line-height: 160px;
}

    .nav label:hover {
        opacity: 1;
    }

.nav .prev {
    left: 0;
}

.nav .next {
    right: 0;
}

input:checked + .slide-container .slide {
    opacity: 1;
    transform: scale(1);
    transition: opacity 3s ease;
}

input:checked + .slide-container .nav label {
    display: block;
}

.nav-dots {
    width: 100%;
    bottom: 0;
    height: 7px;
    display: block;
    position: absolute;
    text-align: center;
}

    .nav-dots .nav-dot {
        top: 0;
        width: 7px;
        height: 7px;
        margin: 0 4px;
        position: relative;
        border-radius: 100%;
        display: inline-block;
        background-color: rgba(255,255,255,0.6);
    }

        .nav-dots .nav-dot:hover {
            cursor: pointer;
            background-color: rgba(255,255,255,0.8);
        }

.nav-dots {
    display: flex;
    justify-content: center;
    align-items: center;
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3 {
    width: 8px;
    height: 8px;
    background-color: rgb(255,255,255);
}